body {
  display: flex;
  flex-direction: column; /* stack children vertically */
  align-items: center; /* keep them horizontally centered */
  background: #ededed;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
.App-header {
  padding: 1rem;
  margin: 30px 0;
  text-align: center;
}
.App-logo {
  height: 7rem;
  margin: 2rem auto;
  padding: 1rem;
  transition: filter 300ms;
}
.App-logo:hover {
  filter: drop-shadow(0 0 2rem #646cffaa);
}
h1 {
  text-align: center;
  font-size: 2rem;
}

a {
  color: #58a4b0;
}
@media (max-width: 576px) {
  .App-header {
    padding: 0;
    margin: 10px 0;
    text-align: center;
  }
}
