body {
  display: flex;
  flex-direction: column; /* stack children vertically */
  justify-content: flex-start; /* push them to the top */
  align-items: center; /* keep them horizontally centered */
  background: #fef8f9;
}

.App-header {
  padding: 2rem;
  margin: 30px 0;
  text-align: center;
}
.App-logo {
  height: 6em;
  margin: 2em auto;
  padding: 1.5em;
  transition: filter 300ms;
}
.App-logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
h1 {
  text-align: center;
}

a {
  color: #58a4b0;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}
