/* Add your CSS styles for the Dictionary component here */
.Dictionary {
  /* Example styles */
  padding: 20px;
}
.Dictionary h2 {
  color: #58a4b0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 0;
}
form {
  margin-top: 0px;
  padding: 0;
  max-width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Dictionary section {
  text-align: left;
  background-color: white;
  padding: 30px;
  border: solid 1px white;
  border-radius: 5px;
  margin: 2rem 2rem; /* shorthand: top/bottom 2rem, left/right 2rem */
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.Dictionary input {
  text-align: center;
  width: 100%;
  padding: 6px 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  margin: 15px auto;
  border: solid 1px #b1abac;
  color: #58a4b0;
}

.Dictionary .hint {
  font-size: 0.8rem;
  color: grey;
  margin-top: 0;
  text-align: center;
}
@media (max-width: 576px) {
  .Dictionary {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
}
