/* Add your CSS styles for the Dictionary component here */
.Dictionary {
  /* Example styles */
  padding: 20px;
}
.Dictionary h2 {
  color: #58a4b0;
  font-size: 1.5rem;
  text-align: center;
}
form {
  margin-top: 10px;
}
.Dictionary section {
  text-align: left;
  background-color: white;
  padding: 30px;
  border: solid 1px white;
  border-radius: 5px;
  margin: 2rem 2rem; /* shorthand: top/bottom 2rem, left/right 2rem */
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.Dictionary input {
  text-align: center;
  width: 100%;
  padding: 6px 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  margin: 20px 0;
  border: solid 1px #a89b9d;
  color: #58a4b0;
}
.Dictionary .hint {
  font-size: 0.8rem;
  color: grey;
  margin-top: 0;
  text-align: center;
}
