.Meaning {
  margin-left: 2rem;
  margin-right: 2rem;
}

.Meaning h3 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  color: #7c7273;
}

.Meaning .example {
  font-style: italic;
  color: #a89093;
  margin-left: 1rem;
}

.Meaning .definition {
  margin-bottom: 1rem;
  color: #363633;
  margin-top: 1.5rem;
}
@media (max-width: 576px) {
  .Meaning {
    margin-left: 0;
    margin-right: 0;
  }
}
