.Synonyms {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.Synonym .synonym-label {
  margin-top: 2rem;
  font-weight: bold;
  color: #58a4b0;
}

.Synonyms ul {
  padding: 0;
  margin-top: 0;
}

.Synonyms li {
  display: inline-block;
  color: #58a4b0;
  padding-right: 1.5rem;
  font-weight: 100;
}
