.Synonyms {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Synonyms ul {
  padding: 0;
  margin-top: 10rem;
}

.Synonyms li {
  display: inline-block;
  color: #861657;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-weight: 600;
}
